/* styling default tags */
html * {
  /*
    padding: 0;
    margin: 0;
    */
}

body {
    background-color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    margin: 15px;
    padding: 5px;
    font-size: 85%;
    min-width:750px;
    
    /* GridWay */    
}
	
p, td {
    /* font-size: 1em; */
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    
    /* GridWay */
    /* font: 10px/16px Verdana, Geneva, Arial, Helvetica, sans-serif; */
    text-align: justify;
    margin-left: 15pt;
    margin-right: 0pt;
}

<!-- global -->
pre {
    font-family: monospace;
    font-size: 1.2em;
    display: block;
    padding: 10px;
    /* background-color: #BAD4FF;  original screen color - but it was the same color as safari highlighting */
    background-color: #C6DAFC;
    width: auto;
    color: #000;   
    overflow: auto;
    border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    
    border: 1px solid #000000;
}

/* GridWay */
/*
dt {
    font-weight: bold;
}	
*/
	
a {
    color: #003390;
}

a:visited {
    color: #1C4590;
}

a:hover{
    text-decoration: underline;
}
/*
h1 {
    color: #CC0000;
    font-size: 1.4em;
}

h1.minisite {
    color: #A61B17;
    margin-top: 0px;
    margin-bottom: 5px;
    }


h2 {
    color: #000;
    font-size: 1.35em;
}

h3 {
    color: #000;
    font-size: 1.25em;
}

h4 {
    color: #000;
    font-size: 1.1em;
}

h5 {
    color: #000;
    font-size: 1.0em;
    font-style: italic;
}
	
h6 {
    color: #000;
    font-size: 1.0em;
}	
	
h7 {
    color: #000;
    font-size: .9em;
}		
*/
table {
     margin-top: 0.25em;
     margin-bottom: 0.5em;
     margin-left: 0em;
     margin-right: 1em; 
}
	
th,td {
     vertical-align: top;
     text-align: left;
     padding-top: 0.33em;
     padding-bottom: 0.33em;
     padding-left: 0.33em;
     padding-right: 0.33em;
}	
	
tt {
    font-family:"Courier New", Courier, mono;
    font-size: 1em;
}	
	
hr {
  border: 0px;
  width: 0px;
  color: #999999;
  background-color: #999999;
  margin: 10px;
}	
	
/* basic layout */	
	
#headerlinks {
    float: right;
    width: 100px;
    background-color: #ffffff;
    text-align:left;
}
	
#header {
    text-align:left;
    padding: 0;
    background-color: #ffffff;
}

/* navigation */
#menu {
    margin : 0;
    line-height: 2em;
    background-color: #0058b4;
    padding : 2px 0;
}

#menu li {
    display : inline;
    list-style-type : none;
    padding-left: 1em;
}

#menu a:link, #menu a:visited	{
    background-color : transparent;
    color: #FFF;
    text-decoration : none;
    padding: .55em;	
}

#menu a:hover, #menu a:focus 	{
    background-color: #99ccff;
    color: #003390;
}


/* makes the Toolkit button active for toolkit pages */
body.section-3 #menu li#nav-3 a {
    background-color:#6699FF;
    line-height: 1.4em;
    border-style:none;
    color: #fff;
    padding: .52em;
}

/* home div styles this page only: globus.org/toolkit/index.html */
#home {
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 15px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
}
/*
#home ul {
    list-style-type: none;
    margin: 0;
}
*/

#home li {
    background-image: url(/toolkit/images/right_arrow_red.gif);
    background-repeat: no-repeat;
    background-position: 0 .4em;
    padding-left: 2.2em;
    padding-right: 0;
    margin: 5px 0px;
}

#home li ul {
    margin: 0;
    padding: 0;
}

#home ul ul li { 
    margin: 3px 0px; 
    padding-right: 0;
}

#home a:link {
    color: #003390;
    text-decoration: none;
}

#home a:hover {
    color: #003390;
    text-decoration: underline;
}

#home a:visited {
    color: #003390;
    text-decoration: none;
}

#home dl dd {
    font-size: .95em;
}

#home dl {
    margin-top: 0px;
}

#home dt {
    font-weight: normal;
}

#home dd {
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: normal;
}

#home p, h1, h2, h3 { 
    margin: 1em 0 1em 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#home h2, h3 { 
    font-size: 1.0em;
}
	
/* was used for globus 10 year logo - useful for any other 'banners' we might need */
#coverimage {
    width: 210px;
    float: right;
    font-size: 0.75em;
    font-weight: normal;
    font-color: #000040;
    text-align: left;
    line-height: 14px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 40px;
}

/* styles all pages except toolkit home page and docbook pages 4.1+ */
#content {
    line-height: 130%;
}
	
#content td {
    line-height: inherit;
}	

#content p, h1, h2, h3, h4, h5, h6, h7 { 
    margin: 1em 0 1em 0;
}

#content blockquote {
    margin: 1em 0 1em 2.5em;
}

#content li, #content dd {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2.2em;
    margin-right: 0px;
}
	
/* used for banner on obsolete/development pages */	
#obsolete {
    width: 450px;
    color: #333333;
    font-size: 10px;
    line-height: 130%;
    text-align: center;
    margin: 10px auto;
}

/* submenu for minisites */
#submenulist { padding: 0px; margin: 0px; background-color: transparent;}

ul#submenu {
    margin-left:  0px;
    margin-top: 0px;
    padding-left: 0px;
    white-space: nowrap;
    }
    
    #submenu li {
    display: inline;
    list-style-type: none;
    margin-left: 0px;
    }
    
    #submenu a { padding: 3px 5px; }
    
    #submenu a:link, #submenu a:visited {
    color: #333;
    font-size: .8em;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
    }
    
    #submenu a:hover {
    color: #fff;
    background-color: #0058b4;
    text-decoration: none;
    }
    
    #submenu #current a {
    text-decoration: underline;
    }

/* styles docbook pages 4.1+ */
#container {
    width: 96%;
    margin: 0 auto;
    padding: 0 10px;
    text-align: left;
}
	
#docbookContent {
    line-height: 130%;
    margin-left: 160px;
    margin-right: 10px;
    width: 65%;
    height: 1%;
    /*overflow: auto; */
    word-wrap: break-word;
}

#docbookContent p, h1, h2, h3, h4, h5, h6, h7 { 
    margin: 1em 0 1em 0;
}

#docbookContent blockquote {
    margin: 1em 0 1em 2.5em;
}

#docbookContent li, #docbookContent dd {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2.2em;
    margin-right: 0;
}

/* styles for the left navigation panel on docbook pages 4.1+ */
#leftbg {
    position: absolute;
    top:200px;
    left: 10px;
    width: 130px;
     /*float: left;
    display: inline-block; */
    background-color: #BAD4FF !important;
    padding: 5px;
    /*margin-left: 5px;*/
    border: 1px solid #999;
}

.leftColumn {
    background-color: transparent;
}
	
.leftColumn dt {
    padding: 2px 5px;
    font-size: 10px;
    font-weight: bold;
}	
	
/* this setting clears the float for the sidebar menu on docbook pages (still in use?) */
.navfooter {
    clear: both;
}

/* borrowing style from alliance solutions side - available for inline sidebars */
#solutions-sidebar {
    float: right; 
    margin-right: 1em;
    background-color: #BAD4FF;
    border: thin solid #02007F;
    color: #000000;
    width: 120px;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;	
}

#solutions-sidebar h2 {
    padding-top: 0.5em;
    padding-left: 0.5em;
    margin: 0;
}

#solutions-sidebar ul {
    list-style-type: none;
    padding-left: 0.5em;
    margin: 0;
}

#solutions-sidebar li {
    background-image: url(http://www.globus.org/images/right_arrow.gif);
    background-repeat: no-repeat;
    background-position: 0 .3em;
    padding-left: 2.5em;
    margin: 1em 0;
    font-size: .75em; 
    font-weight: bold;
    text-align: left;
    line-height: 10px;
}

/* general classes */
.panel {
    font-size: .85em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.code {
    font-family:"Courier New", Courier, mono;
    font-size: 1.2em;
}
	
code {
    font-family:"Courier New", Courier, mono;
    font-size: 1.2em;
}	

.newsdate {
    font-size: .85em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666;
}

/* styles the table that houses breadcrumbs and search */
table.navbartable {
    margin-top: 0em;
}

table.navbartable th {
    color: #000000;
    text-align: left;
    vertical-align: middle;
    font-size: .85em;
    font-weight: normal;
    padding-left: 1.5em;
}

table.navbartable td {
    text-align: right;
    vertical-align: middle;
    font-size: 12px;
}

/* used for header titles in docbook */
.title {
    color: #333366;
    font-weight: bold;
}

/* used for headers in docbook sidebar */
.smalltitle {
    font-size: .75em;
    color: #CC0000;
    font-weight: bold;
}

/* used in regular html files (outside of docbook) to improve gap between h1 and container */
.first {
    margin-top: 0;
}

/* used in docbook 4.1+ pages to clear floats - not sure it's needed? repetitive with navfooter? */
/*
.clearing {
    height: 0;
    clear: both;
}
*/

/* old style for command lists (used in 3.9.3) */
.command-option dt {
    margin-top: 10px;
    font:"Courier New", Courier, mono;
    font-size: .9em;
    font-weight: bold;
}

.command-option dd {
    margin-top: 5px;
}

/* used for colored table for 4.0 release notes main page (not used going forward) */
.matrix {
    font-size: .85em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
}

/* used in techpreview banner */
#draft {
    text-align: center;
    background-color: #FFFF99;
    border:1px solid #ccc;
    padding: 5px; 
    margin: 10px 0px;
    font-size: .85em;
}
	
	/* footer styles - obviously   #0058b4 */	

#footer {
    clear: both;
    text-align: center;
    border-top: #999 dotted 1px;
}

#footer p {
    font-size: .85em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #6699FF;
    margin-top: 15px;
}

#footer a:link {
    color: #003390;
    text-decoration: none;
    border-bottom: 1px solid #999;
}

#footer a:visited {
    color: #003366;
}

#footer a:hover {
    color: #000;
}

/* docbook specific styles */
	
.toc dt {
    padding-top: 15px;
    font-size: 1.1em;
}



.toc dd dt {
    padding-top: 3px;
}
	
div.toc dt {
    padding: 0px;
}		
	
div.toc dd {
    margin-left: 20px;
}		

div.toc a {
    font-size: 10px;
}	
/*
div.section div.titlepage h2 {
    font-size: 16px;
    padding: 15 0 0 0;
}	
*/
div.section div.titlepage h3 {
    font-size: 18px;
    color:#333366;
    padding: 0;
}

div.section div.titlepage h4 {
    font-size: 12px;
    color: #000000;
}	
	
div.section div.titlepage h5 {
    font-size: 11px;
    color: #000000;
    font-style: italic;
}		
	
div.section div.titlepage h6 {
    font-size: 10px;
    color: #000000;
    margin-left: 5px;
}	
	
div.section div.titlepage h7 {
	font-size: 9px;
	color: #000000;
	margin-left: 5px;
	}		
	
div.section div.titlepage p {
	font-size: 12px;
	}	
	
div.section pre.screen strong.userinput {
	font-family: monospace bold;
	font-face: monospace bold;
	}

/*	
div.navfooter td {
	font-size: 12px;
}	
*/

pre.screen {
	font-family: monospace;
	/*font-size: 1em;*/
	display: block;
	padding: 10px;
	margin: 20px;
   /* background-color: #BAD4FF;  original screen color - same color as safari highlighting */
	background-color: #C6DAFC;
	color: #000;   
	overflow: auto;
	width: auto;
	/*word-wrap: break-word;*/
	border-radius: 2.5px;
	-moz-border-radius: 2.5px;
	
	border: 1px solid #000000;
	}

.programlisting {
     font-family: monospace;
     display: block;
     padding: 10px;
     background-color: #C6DAFC;
     color: #000;   
     overflow: auto;
	 word-wrap: break-word;
     border-radius: 2.5px;
     -moz-border-radius: 2.5px;
     margin: 0.5em 2em;

     border: 1px solid #000000;

	}	
	
	td.rowhead {
	background-color: #CCCCCC;
	font-weight: bold;
	}

.blue {
color: blue;
}	

.red {
color: red;
}	

/* for gridftp minisite */
.topspace {
margin-top: 15px;
}


/* GridWay specific tags */

p.legalnotice
{    	  font-size: 11px;
}

p.copyright
{      	font-size: 11px;
}

DIV.toc {
        margin-left: 15pt;
        width: 75%;
        background-color: #F1F1FF;
        border: thin dotted #333366;
        font: 10px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;
        padding-left: 10px;
        padding-right: 10px;
}

DIV.toc dl, dt {
  padding: 0px;
  margin: 0px;
}

DIV.navfooter {
        color: #000000;
        background-color: #FFFFFF;
        padding: 5px;
        margin-top: 10px;
        width: 100%;
        font-size: 9px;
        border-top: 1px solid #000000;
}



DIV.navheader {
        color: #000000;
        background-color: #FFFFFF;
        padding: 5px;
        margin-bottom: 1px;
        width: 100%;
        font-size: 9px;
}

H1, H1.title
{
        color:#333366;
        background-color: #FFFFFF;
        font-weight: bold;
        width: 100%;
    	font-size: 20px;
        border-left: solid #FFFFFF;
        border-right: solid #FFFFFF;
        border-top: solid #FFFFFF;
        border-bottom: thin solid #333366;
        padding: 5pt;
}

H2.title
{
        color:#333366 ;
        background-color: #FFFFFF;
        font-weight: bold;
        width: 100%;
    	font-size: 20px;
        border-left: solid #FFFFFF;
        border-right: solid #FFFFFF;
        border-top: solid #FFFFFF;
        border-bottom: thin solid #333366;
        padding: 5pt;
}

H2.SECT2
{
        color:#333366 ;
        background-color: #FFFFFF;
        font-weight: bold;
        font-size: 18px;
}
H4.SIMPLESECT, h2
{
        color:#333366 ;
        background-color: #FFFFFF;
        font-weight: bold;
        font-size: 11px;
        margin-left: 5pt;
}

.refentry h2
{
        color:#333366 ;
        background-color: #FFFFFF;
        font-weight: bold;
        font-size: 18px;
        margin-left: 5pt;
}


h3.title
{
        color:#333366 ;
        background-color: #FFFFFF;
        font-weight: bold;
        font-size: 18px;
        margin-left: 15pt;
}

ul{
  /* margin-left: 20pt; */
}

.term {
  margin-left: 8px;
  font-weight: bold;
}

DIV.table table
{
  /* width: 700px; */
  border-left: 1px solid #333366;
  border-top: 1px solid #333366;
  border-right: 0px;
  border-bottom: 0px;

/*  border: inset 0pt; */
  border-spacing:0px;
  margin-left: 20px;
}

DIV.table td
{
  border-right: 1px solid #333366;
  border-bottom: 1px solid #333366;
  border-left: 0px;
  border-top: 0px;
}

DIV.table th
{
  border-right: 1px solid #333366;
  border-bottom: 1px solid #333366;
  border-left: 0px;
  border-top: 0px;
}


PRE.screen
{
    font-family: monospace;
    font-size: 12px;
    background-color: #CCCCFF;
    border: thin solid #333366;
    padding: 3pt;
    width: auto;
    margin-left: 20pt;
}
/*
table, td {
    border: 1px solid #ff0000;
}
*/
.navfooter td {
    text-align: center;
}