Source: gridway
Priority: optional
Maintainer: Initiative for Globus in Europe (IGE) <info@ige-project.eu>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 5), gcc (>= 3.4.2)
Section: libs
Homepage: http://www.ige-project.eu/

Package: gridway-core
Architecture: any
Depends: ${shlibs:Depends}, libdb4.8, ruby
Description: The GridWay Metascheduler enables large-scale, reliable and efficient sharing 
 of computing resources: clusters, supercomputers, stand-alone servers... It 
 supports different LRM systems (PBS, SGE, LSF, Condor...) within a single 
 organization or scattered across several administrative domains. GridWay 
 provides a single point of access to all resources in your organization, from
 in-house systems to Grid infrastructures and Cloud providers. GridWay supports
 most of existing Grid middle-wares, can be used on main production Grid 
 infrastructures and can dynamically access to Cloud resources.
