Source: gridway-bes
Priority: optional
Maintainer: Initiative for Globus in Europe (IGE) <info@ige-project.eu>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 5), libaxis-java, libxmlbeans-java, libxalan2-java, default-jdk 
#gridsam-schema
Section: libs
Homepage: http://www.ige-project.eu/

Package: gridway-bes
Architecture: any
Depends: gridway-core, libxmlbeans-java, libaxis-java, libwsdl4j-java, libxml-security-java, libxalan2-java, default-jre 
#libwss4j-java, gridsam-schema 
Description: 
 GridWay uses several Middleware Access Drivers (MAD) to interface with 
 different Grid services. The following MADs are part of the GridWay 
 distribution: Information MADS to interface with different information 
 services, Execution MADs to interface with different execution services, and 
 Transfer MADs to interface with different transfer services.
 .
 The gridway-BES package contains: An Execution MAD to interface with the OGSA Basic Execution Service (BES). 
 This also includes an static Information MAD and a dummy Transfer MAD.
