body
{
font: 10px/16px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

DIV.TABLE
{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

TABLE.CALSTABLE
{
  border: thin solid #333366;
  border: inset 0pt;
  border-spacing:0px;
}

TD, TR
{
  border-color: #333366;
  padding:2pt;
}

p
{
font: 10px/16px Verdana, Geneva, Arial, Helvetica, sans-serif;
font-weight: normal;
text-align: justify;
margin-left: 15pt;
margin-right: 2pt;
}

img
{
 display: block;
 margin-left: auto;
 margin-right: auto
}

ul{
margin-left: 20pt;
}
a {
  color: #333366;
}
a:visited {
  color: #808080;
}

DIV.ABSTRACT
{
        border: solid 2px;
        padding-left: 10pt;
        padding-right: 10pt;
}

PRE.SCREEN
{
    font-family: monospace;
    font-size: 9px;
    background-color: #CCCCFF;
    border: thin solid #333366;
    padding: 3pt;
    width: auto;
    margin-left: 20pt;
}

PRE.PROGRAMLISTING
{
        font-family:monospace;
        font-size: 9px;
        background-color: #CCCCFF;
        border: thin solid #333366;
        padding: 1pt;
        width: 90%;
        width: auto;
        margin-left: 20pt;
}

H1, H1.TITLE
{
        color:#333366 ;
        background-color: #FFFFFF;
        font-weight: bold;
        width: 100%;
    	  font-size: 20px;
        border-left: solid #FFFFFF;
        border-right: solid #FFFFFF;
        border-top: solid #FFFFFF;
        border-bottom: thin solid #333366;
        padding: 5pt;
}
H4.SIMPLESECT, H2
{
        color:#333366 ;
        background-color: #FFFFFF;
        font-weight: bold;
        font-size: 11px;
        margin-left: 5pt;
}
H3
{
        color:#333366 ;
        background-color: #FFFFFF;
        font-weight: bold;
        font-size: 11px;
        margin-left: 5pt;
}

DIV.LEGALNOTICE
{    	  font-size: 11px;
}

P.COPYRIGHT
{      	font-size: 11px;
}


DIV.MEDIAOBJECT
{
	text-align: center;
}

TABLE.IMPORTANT
{
        font-style:italic;
        border: solid 2px #ff0000;
        width: 70%;
        margin-left: 15%;
}
TABLE.CAUTION
{
        font-style:italic;
        border: ridge 2px #ffff00;
        width: 70%;
        margin-left: 15%;
}

TABLE.NOTE
{
        font-style:italic;
        border: solid 1px #000000;
        width: 70%;
        margin-left: 15%;
}
TABLE.TIP
{
        font-style:italic;
        border: solid 1px #000000;
        width: 70%;
        margin-left: 15%;
}

TABLE.WARNING
{
        font-style:italic;
        font-weight: bold;
        border: ridge 4px #ff0000;

        width: 70%;
        margin-left: 15%;
}

DIV.VARIABLELIST {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        padding-left: 30px;
}

.VARLISTENTRY {
        font-weight: bold;
        margin-top: 10px;
        COLOR: #ffffff ;
        BACKGROUND-color: #a0a0d0;
        BORDER: solid 1px #606090;
        PADDING: 1px
}

/*
 * See http://diveintoaccessibility.org/day_26_using_relative_font_sizes.html
 * for an explanation of the following few commands.
 * They are really too complicated to explain here in all depth. ;-)
*/

P {
        font-size: 12px;
}

/*/*/A{}
BODY P {
        font-size: x-small;
        voice-family: "\"}\"";
        voice-family: inherit;
        font-size: small;
}

HTML>BODY P {
        font-size: small;
}
/* */
[href^="http:"] {
        background: url(images/remote.gif) right center no-repeat;
        padding-right: 12px;
}
/* Add an external-link icon to absolute links */

[href^="http:"]:hover {
        background: url(images/remote_a.gif) right center no-repeat;
}

/* Add a note icon to footnote links */
[href^="#FTN"] {
        background: url(images/qbullet-note.gif) right center no-repeat;
        padding-right: 12px;
}

[href^="#FTN"]:hover {
        background: url(images/qbullet-note_a.gif) right center no-repeat;
}

/* ...and a back icon to the backlinks in the footnotes themselves */
[name^="FTN"] {
        background: url(images/scrollup.gif) right center no-repeat;
        padding-right: 12px;
}

[name^="FTN"]:hover {
        background: url(images/scrollup_a.gif) right center no-repeat;
}

/* Add a download icon to .gz links */
[href$=".gz"],[href$=".tar"],[href$=".zip"] {
        background: url(images/disk.gif) right center no-repeat;
        padding-right: 12px;
}


/* Add an Acrobat Reader icon to PDF links */
[href$=".pdf"] {
        background: url(images/acrobat.gif) right center no-repeat;
        padding-right: 12px;
}

[href$=".pdf"]:hover {
        background: url(images/acrobat_a.gif) right center no-repeat;
}

/* Add a Word icon to RTF links */
[href$=".rtf"] {
        background: url(images/word.gif) right center no-repeat;
        padding-right: 12px;
}


/* ...but not to absolute links in this domain... */
[href^="http://www.gridway.org"] {
        background: transparent;
        padding-right: 0px;
}

[href^="http://www.gridway.org"]:hover {
        background: transparent;
}

/* ...or to the translation links on each page */
DIV.translatelink > a[href^="http:"] {
        background: transparent;
        padding-right: 0px;
}

DIV.translatelink > a[href^="http:"]:hover {
        background: transparent;
}

/* ...or to any images  */
DIV.imagelink  [href^="http:"] {
        background: transparent;
        padding-right: 0px;
}

DIV.imagelink  [href^="http:"]:hover {
        background: transparent;
}


P.C2 {
        COLOR: #ffffff ;
        BACKGROUND-color: #a0a0d0;
        BORDER: solid 1px #606090;
        PADDING: 1px
	font-size: 12px;
}


DIV.NAVFOOTER {
        color: #000000;
        background-color: #FFFFFF;
        padding: 5px;
        margin-top: 10px;
        width: 100%;
        font-size: 9px;
}

DIV.NUKEFOOTER {
        color: #000000;
        background-color: #B0E0E6;
        padding: 5px;
        margin-top: 10px;
        width: 100%;
        border: thin solid #a0a0d0;
}

DIV.NAVHEADER {
        color: #000000;
        background-color: #FFFFFF;
        padding: 5px;
        margin-bottom: 1px;
        width: 100%;
}

DIV.SECT1,DIV.SECT2,DIV.SECT3 {
      margin-left: 20px;
	    font-size: 12px;
}


DIV.TOC {
        margin-left: 15pt;
        width: 75%;
        background-color: #F1F1FF;
        border: thin dotted #333366;
        font: 10px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;
        padding-left: 10px;
        padding-right: 10px;
}

UL  {
        /*list-style: url("images/listitem.gif") disc;*/
    }

